body {
    background: #e14747;
    ;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #252525;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 144, 130);
}

.container {
    text-align: center;
    background: #e14747;
    padding: 20px 5px;
    overflow-wrap: break-word;
    box-shadow: 45px 45px 90px #712424,
        -45px -45px 90px #ff6b6b;
    border-radius: 50px;

}

label {
    color: rgb(255, 255, 255);
    font-size: 100px;
}

.photo {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.photo>div {
    margin: 0 20px;
}

p,
h2 {
    color: rgb(255, 255, 255);
}

.back {
    text-align: right;
    margin-right: 20px;
}

a {
    text-decoration: none;
    background-color: #e14747;
    color: wheat;
    padding: 20px;
    box-shadow: 45px 45px 90px #712424,
        -45px -45px 90px #ff6b6b;
    border-radius: 30px;
}

#photo-flag,
#photo-map,
#photo-his,
#photo-cap {
    transition: all ease 1s;
}

#photo-map:hover,
#photo-flag:hover,
#photo-cap:hover,
#photo-his:hover {

    transform: scale(1.2) perspective(1000px) rotateY(360deg);


}

@media screen and (max-width: 600px) {
    label {
        font-size: 30px;
    }

    .container {
        width: 90%;
    }

    .photo {
        width: 90%;
    }

    /* #photo-flag,
    #photo-his,
    #photo-cap,
    #photo-map
    {
        width: 100%;
        height: 100px;
    } */
}